.goods-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-height: calc(100vh - 180px);
  height: calc(100vh - 110px);
  overflow: auto;
  top: 110px;
  &__item {
    padding: 10px;
  }
  @media (max-width: 736px) {
    justify-content: center;
  }
}