.header {
  width: 100%;
  background-color: gold;
  position: fixed;
  z-index: 2;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100px;
  color: black;
  &__text {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    font-family: 'Nosifer', cursive;
    font-size: 50px;
    @media (max-width: 560px) {
      font-size: 32px;
    }
    @media (max-width: 400px) {
      font-size: 24px;
    }
  }
  &__basket {
    margin-left: auto;
    margin-right: 10px;
  }
}