body {
    margin: 0;
    font-family: "Roboto Thin";
    max-height: 100vh;
    overflow: hidden;
}
body ::-webkit-scrollbar {
    width: 7px;
    background-color: #f9f9fd;
}
body ::-webkit-scrollbar-thumb {
    background: linear-gradient(gray, darkgray);;
    border-radius: 10px;
}